<div fxLayout fxLayoutAlign="center center">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="text" (keyup.enter)="search($event.target.value)" placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> 
            <a href="{{element.link}}">{{element.title}}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="answer_count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Answers </th>
        <td mat-cell *matCellDef="let element"> 
            <mat-chip-list>
                <mat-chip *ngIf="element.is_answered" color="accent" selected> {{element.answer_count}} </mat-chip>
                <mat-chip *ngIf="!element.is_answered" > {{element.answer_count}} </mat-chip>
            </mat-chip-list>
        </td>
    </ng-container>

    <ng-container matColumnDef="creation_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.creation_date | date}} </td>
    </ng-container>

    <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let element"> {{element.owner.display_name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[6, 8, 10, 20, 50]"></mat-paginator>
